@import url('https://fonts.googleapis.com/css?family=Kreon');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

nav {
  border: 5px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

#tablecolumn {
  border-right: 5px solid black;
}

nav div {
  padding: 0.5em 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

body {
  background-color: white;
}

h1, h2  {
  font-family: 'Kreon', serif;
}

.area1 {
  background-image: url("../images/bg-masthead.jpg");
  background-size: auto;
  padding-top: 10em;
  padding-bottom: 10em;
}

.area2, .area4 {
  background-color: grey;
  padding-top: 3em;
  padding-bottom: 3em;
}

.area3 {
  background-color: gold;
  padding-top: 3em;
  padding-bottom: 3em;
}

.intro, .brief, .contact, .projects {
  display: flex;
  padding: 5em;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: white;
  font-family: 'News Cycle', sans-serif;
}

.intro {
  background:rgba(255,255,255,0.5);
  margin-top: 50px;
  justify-content: center;
}

/* Desktop */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  .intro, .brief, .contact, .projects {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
  }
  nav {
    font-size: 20px;
  }
}
